Package: com.example.hongguofullscreen
Name: 红果全屏
Version: 1.0.0
Architecture: iphoneos-arm
Description: 隐藏底栏、全屏视频
Maintainer: you <you@example.com>
Author: you
Section: Tweaks
Depends: mobilesubstrate
